<header class="header">
  <p class="header-title">
    <a href="https://github.com/FountainJS/generator-fountain-webapp" target="_blank" rel="noopener noreferrer">
      Fountain Generator
    </a>
  </p>
  <p class="header-date">
    Generated with FountainJS v1.0.0 on Mon Apr 24 2017 14:09:22 GMT+1000 (AEST)
  </p>
</header>
